#result_list thead tr th{
    background-color: #182f58;
}

#result_list thead tr th a{
    color: #fff !important;
    font-weight: 700 !important;
}

table thead th{
    background-color: #182f58 !important;
}

table thead th a{
    color: #fff !important;
    font-weight: 700 !important;
}

.info{
    text-align: right;
    margin: 10px 20px 0px 20px;
}

.info .isi{
    text-align: left;
    text-align: left;
    background: #fff;
    padding: 15px 15px;
    border: #182f58 1px solid;
    margin: 10px;
    border-radius: 5px 5px 0px 0px;
    display: none;
   }

.info .warning{
    background-color: #e8212b;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}